<mat-toolbar color="primary">
    <span>Task manager</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/task/add">Add Task</button>
</mat-toolbar>

<div class="search-container">
    <mat-form-field appearance="fill">
      <mat-label>Search Tasks</mat-label>
      <input matInput [formControl]="searchControl" placeholder="Search by task name">
    </mat-form-field>
</div>

<div class="container">
    <mat-card *ngFor="let task of tasks" class="task-card">

        <mat-card-header>
            <mat-card-title>{{task.name}}</mat-card-title>
            <mat-card-subtitle *ngIf="task.completed" class="completed-task">Completed</mat-card-subtitle>
            <mat-card-subtitle *ngIf="!task.completed" class="pending-task">Pending</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p><strong>Due Date:</strong>{{task.dueDate | date: 'mediumDate'}}</p>
            <p><strong>Priority:</strong>{{task.priority}}</p>
            <p><strong>Notes:</strong>{{task.notes}}</p>
            <!-- <p *ngIf="task.tags?.length"><strong>Tags:</strong>{{task.tags?.join(',')}}</p> -->
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" routerLink="/task/view/{{task.id}}">View</button>
            <button mat-button color="accent" routerLink="/task/edit/{{task.id}}">Edit</button>
            <button mat-button color="warn" (click)="deleteTask(task.id)">Delete</button>
        </mat-card-actions>

    </mat-card>
</div>